@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

#robot{
    width: 20vw;
}

h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}

#name{
    color: rgba(234, 17, 179, 0.977);
    font-size: 45px;
}
#va{
    color: rgba(15, 206, 244, 0.977);
    font-size: 45px;
}
#voice{
    width: 250px;
    display: none;
}
#btn{
    width:36%;
    background: linear-gradient(to right,rgb(66, 63, 231),rgb(226, 72, 144));
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(71, 69, 223) ,2px 2px 10px rgb(226, 72, 144);    
    border: none;
    transition: all 0.5s; 
}

#btn:hover {
        box-shadow: 2px 2px 10px rgb(71, 69, 223) ,2px 2px 10px rgb(226, 72, 144);
        letter-spacing: 2px;

}

